
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
}



html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* Navbar Styles */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    z-index: 1000;
}

.navbar-logo img {
    height: 40px;
    object-fit: contain;
}

.navbar-links {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.2s ease;
}

.navbar-links a:hover {
    color: rgba(26, 26, 26, 0.6);
}


.additional-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.additional-links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(245, 73, 0, 1);
}

.additional-links a:hover {
    color: rgba(245, 73, 0, 0.7);
}

.additional-links a.enroll-now-btn {
    background-color: rgba(245, 73, 0, 1);
    padding: 10px 18px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 8px;
}

.additional-links a.enroll-now-btn:hover {
    background-color: rgba(245, 73, 0, 0.7);
}


/* Home Hero Section*/
 
main.home {
    width: 100%;
    height: 100vh;
}

section.home-hero {
    display: flex;
    background: linear-gradient(180deg, rgba(245, 73, 0, 1), rgba(255, 105, 0, 1));
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.home-heading {
    font-size: 4rem;
    color: #ffffff;
    margin-top: 12rem;
    margin-bottom: 1rem;
}

.home-intro {
    font-size: 1.5rem;
    color: #ffffff;
    max-width: 600px;
    line-height: 1.6;
    margin: 1rem 0 4rem;
}

.search-bar {
    width: 95%;
    margin: 2rem 0 0 2rem;
    padding: 2rem 1.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar .search-input {
    width: 60%;
    padding: 1rem 1rem;
    border: 1px solid #808080;
    border-radius: 10px;
    font-size: 16px;
}

.search-bar .non-input {
    width: 20%;
    padding: 1rem 1rem;
    border: 1px solid #808080;
    border-radius: 10px;
    font-size: 16px;
}

.search-bar .non-input.one {
    margin-left: 2rem;
    width: 16rem;
    margin-right: 2rem;
}
.search-input, .non-input::placeholder {
    color: #a9a9a9;
}

/* Couses list section */

section.courses-list {
    width: 100%;
    padding: 2rem 2rem 0;
}

.courses-list h2 {
    font-size: 1.5rem;
    color: #858484;
}

.courses-list h2 span {
    color: #1a1a1a;
}


/* Course Card Styles */

.courses-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    margin-top: 2rem;
}

.course-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
}

/* For Tablets (2 columns) */
@media (max-width: 1024px) {
    .courses-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For Mobile (1 column) */
@media (max-width: 600px) {
    .courses-container {
        grid-template-columns: 1fr;
    }
}

.course-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.course-level-badge {
    position: absolute;
    top: 12px;
    background: #93e1f4;
    right: 12px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1rem;
    border-radius: 20px;
}

.course-info {
    padding: 1rem;
}

.course-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ff5722; 
    margin-top: 1rem;
}

.course-name {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.course-instructor {
    font-size: 1.4rem;
    color: #555;
    font-weight: bold;
    margin-bottom: 2rem;
}

.course-instructor span {
    font-weight: normal;
}

.course-bottom {
    display: flex;
    justify-content: space-between;
    color: #777;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    align-items: center;
}

.course-bottom span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.course-bottom .duration::before {
    content: "⏱️";
}
.course-bottom .students::before {
    content: "👥";
}
.course-bottom .rating::before {
    content: "⭐";
}


/* Footer Styles */

.footer {
    background-color: #0d1b2a;
    color: #ffffff;
    margin-top: 18rem;
    padding: 2rem;
    width: 100%;
}

.footer-content {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}


.footer-logo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footer-description {
    color: #a9b2bb;
    max-width: 680px;
    font-size: 1.6rem;
    line-height: 1.6;
}

.footer-links-container {
    display: flex;
    flex: 3;
    justify-content: space-around;
}

.footer-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 0.8rem;
}

.footer-list a {
    font-size: 1.4rem;
    color: #a9b2bb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-list a:hover {
    color: #ffffff;
}

.footer-bottom {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(169, 178, 187, 0.2);
    text-align: center;
    color: #a9b2bb;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem;
    }

    .footer-links-container {
        justify-content: flex-start;
        gap: 4rem;
    }
}






/* === CouseDetailPage styling ===*/


.course-detail-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.go-back span {
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;

}

.go-back

.detail-hero {
    width: 100%;
    display: flex;
    align-items: center;
}
