*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: system-ui,'Helvetica Neue', sans-serif;
    background-color: #eae9e9;
}

nav {
    width: 100%;
    padding: 18px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #eae9e9;
}

nav .logo {
    width: 12rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}

nav ul li a {
    font-size: 1.4rem;
    color: rgb(58, 57, 57);
    text-decoration: none;
    transition: 0.3s;
}
nav ul li a:hover {
    color: rgba(0, 0, 0, 0.3);
}

nav .additional-links {
    display: flex;
    gap: 32px;
}

nav .additional-links a {
    font-size: 1.4rem;
    color: rgb(255, 81, 0);
    text-decoration: none;
    transition: 0.3s;
}
nav .additional-links a:hover {
    color: rgb(255, 102, 0, 0.6);
}

nav a.enroll-now {
    background-color:  rgb(255, 102, 0);
    padding: 8px 8px;
    color: #eae9e9;
    align-self: center;
    border-radius: 10px;
}
nav a.enroll-now:hover {
    background-color:  rgb(255, 102, 0, 0.8);
    color: #ffffff;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 102, 0);
}

.hero h1 {
    font-size: 3.4rem;
    color: #eae9e9;
    margin: 4rem 0 1rem 2rem;
    font-weight: 600;
}

.hero p {
    font-size: 1.2rem;
    color: #eae9e9;
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 4rem;
    line-height: 2rem;
}

.search-container {
    width: 95%;
    background: #f3f1f1;
    margin-top: 1rem;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(162, 160, 160, 0.3);
}

.search-container .search-icon {
    width: 22px;
    font-size: 1.2rem;
}

.search-container .search-input {
    width: 32rem;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #f3f1f1;
    border: 1px solid #a2a0a0;
    margin: 2rem;
    padding: 12px;
}

